@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: synthwave;
}
@theme {
  --color-dxprimary: #140234;
  --color-dxsecondary: #1da662;
  
}

:root {
  background-color: white;
  font-family: "Figtree", sans-serif;
  color: #292929;
}
